.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  border-radius: 10px;
  background-color: #1c1c1c;
  padding: 10px 20px;
  max-width: 500px;
  width: 100%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;

  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.input {
  padding: 11px 12px 11px 50px;
  border: 1px solid #ba8e47;
  background-color: #1c1c1c;
  width: 100%;
  font-size: 14px;
  color: #ffffff80;
  background-image: url('../../../assets/images/search.svg');
  background-repeat: no-repeat;
  background-position: left 1rem center;
  background-size: 20px;
}

.button {
  padding: 12.5px 20px;
  background-color: #f0da7d;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
